/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
* = require main
* = require mobile
*= require bootstrap
*= require_self
*= require own
*/

// Layout START
.container-nav{
  width: 100%;
}
.nav-link{
  color: red;
}

.marketing{
  padding-top: 30px;
}

.navbar{
  width: auto;
  margin-bottom: 0px;

}

.navbar-static-top{

}

.navbar-collapse{

}

.collapse{
}


.centered-image{
  width: 100%;
  text-align: center;
}

.carousel-inner{
  .item{
    background-size: cover;
    height: 450px;
    background-position: 50%;
  }
}
//Home ENDE

//Speisewagen Start
.speise-titelbild{
  background-position: 80%;
  background: cover;
  height: 300px;
}
.speise-category{
  border: solid black 1px;
  background-color:#780003;
  margin-top: 10px;
  font-size: 20px;
  color: #ffffff;

}
.speise-speise-bild{
  margin-left: 30px;
  background-size: cover;
  height: 90px;
  width: 90px;
  float: left;
}
.speise-speise{

  clear: left;
  height: 90px;
}
.speise-speise-bild{

}
.speise-speise-content{
  margin-left: 120px;
  border: solid black 1px;
  height: 90px;

}
.speise-speise-name{
  padding-left: 20px;
  height: 60px;
  display: table-cell;
  vertical-align:middle;
  text-align: center;

}
.speise-speise-info{
  padding-left: 20px;
  border-top: solid black 1px;
  font-size: 12px;

}
//speise ENDE

//Location START
.location-titelbild{
  background-position: 80%;
  background-size: cover;
  height: 300px;

}
.location-info{
  padding-left: 50px;
  float: left;
  color: #777;
}
.location-google{
  float: right;
  clear:right;
}

//Location ENDE

//Restaurant START
.restaurant-container{
}
.restaurant-titel{
  color: #777;
  font-size: 25px;
  text-align: center;
}
.restaurant-text{
  float:left;
  width: 50%;
  height: 300px;
  color: #777;
  font-size: 20px;

}
.restaurant-bild{
  background-size: cover;
  height: 300px;
  float:left;
  width: 50%;

}
//Resturant ENDE

//Fahrplan Start

.fahrplan-titel{
  font-size: 30px;
}

.fahrplan-datum{
}
.fahrplan-content{
  font-size: 17px;
}